html{
    font-size: 62.5%;
    min-width: 700px;
}

@media(max-width:1020px){
    html{
        font-size:55%;
    }
}

@media(max-width:1100px){
    html{
        font-size: 60%;
    }
}

@media(max-width:925px){
    html{
        font-size: 45%;
    }
}

@media(max-width:768px){
    html{
        font-size: 40%;
    }
}


body{
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main{
    background-color: white;
    height:60rem;
    width: 85%; 
}

.docTitle{
    font-size: 3.3rem;
    font-weight: bold;
    margin: 1rem;
}

.colorLines{
    display: flex;
}

.colorLines>.red{
    width: 3.7rem;
    border-top:5px solid;
    border-color: red;
}
.colorLines>.blue{
    width:3.7rem;
    border-top:5px solid;
    border-color: blue;
}
.colorLines>.cyan{
    width:3.7rem;
    border-top:5px solid;
    border-color: rgb(98, 209, 209);
}
.colorLines>.yellow{
    width:3.7rem;
    border-top:5px solid;
    border-color: rgb(255, 196, 0);
}

.description{
    margin: 1.8rem;
    font-size: 1.6rem;
}

.flow{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 3rem;
    align-items: center;
}

.block{
    color: black;
    height: 40rem;
    border: 1px solid rgb(206, 203, 203);
    border-radius: 2px;
    background-color: rgb(247, 244, 244);
    padding: 0px;
}
.block-1{
    width: 8rem;
}
.block-2, .block-3{
    width: 17.4rem;
}
.block-4{
    width: 23rem;
}
.block-5{
    width: 13.5rem;
}
.block-6{
    width: 11rem;
}
.block-7{
    width: 11rem;
    margin-right: 0.5rem;
}
.blockTitle{
    /* position: absolute; */
    font-weight: bold;
    margin-left: 0.8rem;
    margin-top: 0.6rem;
    font-size: 1.5rem;
}

.content{
    height: 100%;
    display: flex;
    font-size: 0.8rem;
    justify-content: center;
}
.block-1>.content{
    padding-top: 12rem;
}
.block-2>.content{
    padding-top: 9rem;
}
.block-3>.content{
    padding-top: 9rem;
}
.block-4>.content{
    padding-top: 7rem;
}
.block-5>.content{
    padding-top: 6rem;
}
.block-7>.content{
    padding-top: 6rem;
}


.subBlocks{
    width: 90%;
}


.subBlock{
    background-color: white;
    border: 1px solid rgb(219, 218, 218);
    width: 100%;
    margin: auto;
    margin-bottom: 0.5rem;
    padding: 0.6rem;
}

.subBlockTitle{
    font-weight: bold;
    font-size: 1.1rem;
}

.left-3{
    display: flex;
    color: grey;
    align-items: center;
}

.blockSubTitle{
    margin-left: 0.8rem;
    margin-top: 0.2rem;
    font-size: 1.3rem;
}

.items-2{
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 100%;
}

.subBlock-1, .subBlock-2{
    padding: 1rem;
    width: 45%;
    height: 13rem;
}